.article-page{
    background:#fff;
    padding:20px;
    border-radius:10px;
    border:1px solid #eee;
    width: 80%;
}

.article-title{
    margin:0 0 8px
}

.article-meta{
    color:#888;
    font-size:13px;
    margin-bottom:12px
}

.article-container {
    width: 60%;
    margin: 16px auto;
}


.article-image, .article-video{
    width: 100%;
    border-radius:8px;
}

.article-content{
    font-size:16px;
    color:#333
}
.main-right div {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1190px) {

    .article-container {
        width: 90%;
    }
}