.weekly-container {
    background-color: #e7e5e5;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-update-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 10px 24px;
    margin: 15px auto;
    background-color: #fff;
    border: 1px solid #5c0404;
}

.more-update-link:hover {
    background-color: #5c0404;
    color: #fff;
}

/* EVENT */
.event-container {
    display: flex;
    justify-content: center;
    gap: 15px;  
    padding: 20px;
    background-color:#bdbdbd;
}
.event-side-container{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.card.event-side-items {
    width: 100%;
}

.card.event-side-items .post-image{
    width:100%;
    height:170px;
    margin-top: 5%;
}

article.card.event-side-items:nth-child(1) {
    border-bottom: 1px solid #5c0404;
}

.event-middle-container {
    width: 45%;
    color: #fff;
    position: relative;
}
.card.event-middle-item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.card.event-middle-item .post-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.card.event-middle-item .card-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.card.event-middle-item .card-body {
    position: absolute;
    top: 0;
    left: 0;
    padding:12px;
    padding-top: 100%;
    width: 100%;
    height: 100%;
    background-color: #00000038;
}

.left-border {
    border-right: 1px solid #5c0404;
    padding-right: 10px;
}
.right-border {
    border-left: 1px solid #5c0404;
    padding-left: 10px;
}

.card.event-side-items .card-meta {
    color: #fff;
}

.card.event-middle-item .card-body:hover {
    background-color: #00000081;
}