.comment {
    display: flex;
    justify-content: center;
    margin: 30px 0; 
}
.comment_item {
    width: 60%;
    background-color: #fff;
    padding: 10px;
}
form {
    max-width: 90%;
}
textarea {
    width: 100%;
    height: 11em;
    font-size: 1.3em;
}

.details input {
    height: 37px;
    margin-bottom: 10px;
}
.comment-post {
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
}
.comment-container {
    margin-bottom: 10px;
}
.comment-message {
    color: #000;
    font-size: 1.2em;
}
.comment-detile {
    margin-right: 10px;
    font-size: 14px;
    font-style: italic;
}
.comment-count {
    color: #5c0404;
}
.submit {
    margin-top: 20px;
    background-color: #5c0404;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
}
.submit:hover {
    background-color: #fff;
    color:#5c0404;
    border: 1px solid #5c0404
}

.comment-actions {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.replies {
    margin-left: 30px;
    border-left: 2px solid #eee;
    padding-left: 15px;
}

.reply-box textarea {
    width: 100%;
    margin-top: 5px;
}
