.site-footer{
    background: #ffffff;
    border-top:1px solid #e6e6e9;
    padding:20px 0;margin-top:40px
}

.container, .footer-socials, .footer-bottom{
    display:flex;
    justify-content:space-between;
}

.footer-inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 20px;
}

h5 {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.footer-social-links{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    gap: 15px;
}

.footer-socials {
    gap: 10px;
}
.footer-bottom {
    margin: auto 30px;
}
.about {
    width: 50%;
}
.about p {
    letter-spacing: 1px;
}

.site-footer p{
    margin:0
}

.site-footer .small{
    opacity:0.7;
    font-size:13px
}