.site-header{
    background:#ffffff;
    border-bottom:1px solid #e6e6e9
}

.header-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 0
}

.brand{
    font-weight:700;
    font-size:20px;
    color:#111;
    text-decoration:none
}

.brand .badge{
    background:#ff5a5f;
    color:#fff;
    padding:2px 8px;
    border-radius:12px;
    font-size:12px;
    margin-left:4px
}

.main-nav a{
    margin-left:18px;
    color:#333;
    text-decoration:none;
    font-size: 18px;
    border-top: 0px solid #b10b0b;
    transition: border-top-width 250ms linear;
}

.main-nav a:hover {
    color: #b10b0b;
    border-top-width: 3px;
}
.main-nav a.active{
    color:#ff5a5f;
    font-weight:600;
    border-top: 3px solid #b10b0b;
}