.card.recent-post-style .card-link, .card.recent-Vpost-style .card-link{
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
}
.card.recent-Vpost-style .page-video {
    display: block;
}

.card.recent-Vpost-style .post-image {
    display: none;
}

.card.recent-post-style .post-image, .card.recent-Vpost-style .page-video {
    max-width: 80%;
    margin: 0 9.5%;
    margin-top: 20px;
    border-radius: 5px;
}
.recent-post-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.recent-post-container:nth-child(1) {
    border-bottom: 1px solid #5c0404;
}

.recent-post-header {
    font-size: 1.5em;
    font-weight: 900;
}

.card.recent-post-style  .card-link:hover, .card.recent-Vpost-style  .card-link:hover {
    background-color: #00000057;
}

@media (min-width: 767px) and (max-width: 1190px) {
    .recent-post-container {
        padding: 5px;
    }
}