.slide-show-container {
    width: 80vw;
    margin-bottom: 3%;
}

.card.slide-show .card-container, .card.slide-show .card-body {
    position: relative;
    width: 100%;
    height: 20em;
}

.card.slide-show .post-image{
    width:100%;
    height: 20em;
    position: absolute;
}

.card.slide-show .card-body {
    color: #fff;
    text-align: center;
    padding-top: 8%;
    background-color: #00000076;
}

.card.slide-show .card-title {
    font-size: 1.9em;
}

.card.slide-show .card-excerpt {
    font-size: 1.5em;
}